@import "tailwindcss";
@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-montserrat: "Montserrat-Variable";

  --color-theme-primary: '#000';
  --color-theme-secondary: '#fdf2e9';

  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}