---
import type { Treatment } from '@/types/treatment.d.ts'

interface Props {
  treatment: Treatment
}

const { treatment }: Props = Astro.props
---

<article class="flex max-w-90 flex-col items-center justify-center gap-y-5 text-balance">
  <h3 class="font-baskerville text-2xl uppercase">{treatment.title}</h3>
  <p class="text-lg font-light">{treatment.content}</p>
</article>
