<footer class="flex h-auto w-full flex-col items-center justify-center bg-black text-white/40 gap-y-7 py-13 flex-nowrap">
  <nav class="flex flex-row items-center justify-center">
    <ul class="flex flex-row flex-wrap items-center justify-center gap-x-16 gap-y-3 px-6 text-sm font-light uppercase">
      <li><a href="#about-us" class="hover:opacity-60">Sobre Nosotros </a></li>
      <li><a href="#treatments" class="hover:opacity-60">Tratamientos</a></li>
      <li><a href="#clinic" class="hover:opacity-60">Clínicas</a></li>
      <li><a href="#contact" class="hover:opacity-60">Contacto</a></li>
    </ul>
  </nav>
  <hr class="border-theme-secondary px-14 w-2/3 md:w-1/4 border-t-1 opacity-40 " />
  <img src="/images/dermovision.webp" alt="Dermovision Logo" class="invert opacity-40 contain-content aspect-auto max-w-50">
   <nav class="flex flex-row items-center justify-center">
    <ul class="flex flex-row flex-wrap items-center justify-center gap-x-10 gap-y-3 px-6 text-[0.6rem] font-light uppercase">
      <li><a href="#about-us" class="hover:opacity-60">Política de privacidad</a></li>
      <li><a href="#treatments" class="hover:opacity-60">Aviso legal</a></li>
      <li><a href="#clinic" class="hover:opacity-60">Política de Cookies</a></li>
    </ul>
  </nav>
</footer>
