<footer class="flex h-auto w-full flex-col flex-nowrap items-center justify-center gap-y-7 bg-black py-13 text-white/40">
  <nav class="flex flex-row items-center justify-center">
    <ul class="flex flex-row flex-wrap items-center justify-center gap-x-16 gap-y-3 px-6 text-sm font-light uppercase">
      <li><a href="#about-us" class="hover:opacity-60">Sobre Nosotros </a></li>
      <li><a href="#treatments" class="hover:opacity-60">Tratamientos</a></li>
      <li><a href="#clinic" class="hover:opacity-60">Clínicas</a></li>
      <li><a href="#contact" class="hover:opacity-60">Contacto</a></li>
    </ul>
  </nav>
  <hr class="border-theme-secondary w-2/3 border-t-1 px-14 opacity-40 md:w-1/4" />
  <img src="/images/dermovision.webp" alt="Dermovision Logo" class="aspect-auto max-w-50 opacity-40 invert contain-content" />
  <nav class="flex flex-row items-center justify-center">
    <ul class="flex flex-row flex-wrap items-center justify-center gap-x-10 gap-y-3 px-6 text-[0.6rem] font-light uppercase">
      <li><a href="#" class="hover:opacity-60">Política de privacidad</a></li>
      <li><a href="https://github.com/marcoslafoz" target="_blank" class="hover:opacity-60">By Marcos Lafoz</a></li>
      <li><a href="#" class="hover:opacity-60">Política de Cookies</a></li>
    </ul>
  </nav>
</footer>
