---
import '@/styles/global.css'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>Dermovision - Clínica Estética en Zaragoza | Tratamientos Faciales, Depilación, Manicura y Más</title>

    <meta name="description" content="Descubre Dermovision, tu clínica estética en [Ciudad]. Ofrecemos tratamientos faciales, depilación láser, manicura, pedicura y mucho más. Reserva tu cita hoy." />
    <meta name="keywords" content="clínica estética, tratamientos faciales, depilación láser, manicura, belleza, cuidado de la piel, Dermovision" />
    <meta name="author" content="Dermovision" />
    <meta name="robots" content="index, follow" />


    <meta property="og:title" content="Dermovision - Clínica Estética" />
    <meta property="og:description" content="Expertos en estética y cuidado de la piel. Reserva tus tratamientos en Dermovision." />
    <meta property="og:image" content="\images\woman-skincare.webp" />
    <meta property="og:url" content="https://dermovision.lafoz.dev" />
    <meta property="og:type" content="website" />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Dermovision - Clínica Estética" />
    <meta name="twitter:description" content="Expertos en estética y bienestar. Tu belleza en manos profesionales." />
    <meta name="twitter:image" content="\images\woman-skincare.webp" />


    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Dermovision" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
  </head>
  <body class="font-montserrat flex flex-col items-center bg-[#fdf2e9] text-black dark:bg-black dark:text-[#fdf2e9]">
    <slot />
  </body>
</html>
